extends head
block content
  block menu
    include menu
  div.container.bg-white.py-2
    div.dashBoard
      div.view.dashBoardPage
        div test
        div.clearfix
        div.row.col
          