extends head
block content
  div.welcomeMessage
    div.text-center.mb-2
      b #{viewTitle} 
    if isAuthenticated
      a.btn.btn-primary-outline(href="/dashboard") Logged in already.  
        a(href="/dashboard") Go to the dashboard.
    else
      p.small #{msg}
      a.btn.btn-primary(href="/login") Get Started
//- div.container.bg-white.p-0
  div.alert.alert-success(role='alert')
    p
    p.Details Access the WTCT Team Portal