extends head
block content
  div.results
    div.container-fluid.bg-white.py-2
      div.view.resultsPage
        div.flex-container.flex-row
          div.title.flex-grow-1 
            h3 #{viewTitle}
          