extends head
block variables
  - var test='test value'
block content
  div.welcomeMessage.rounded
    div.userPage
      div.container-sm.bg-white.py-2
        div.view.userPage
          div.flex-container
            div.text-center 
              h3 #{viewTitle}
            div.clearfix  
            div.userContentBlock
              //-p 
                img(src=`${pic}` alt='Profile Image')
            form#addForm.text-center(action='/signup' method='POST' autocomplete='on')
              //-label Email
              input.form-control.mb-2(type='text' name='email' placeholder='Email to send new bookings to..' value='' required autofocus)
              //-label Password
              input.form-control.mb-2(label='Password' type='text' name='password' placeholder='Password - make it secure!' value='' autocomplete='off' required )
              div#loginButton
                button.align-self-center.btn.btn-lg.btn-success.mb-1(type='submit' ) SIGN UP